body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color:greenyellow;
    color: white;
    padding: 10px 0;
  }
  
  nav .container {
    display: block;
    justify-content: space-between;
    align-items: left;
    width: 60%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  section.container {
    max-width: 800px;
    margin: 40px auto;
  }
  
  button {
    background-color: yellowgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightgreen;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  #right-head {
    float: right;
    width: 30%;
    height: auto;
    text-align: right;
    color: white;
  }

  #left-head {
    float : left;
    width: 70%;
    height: auto;
    text-align: left;
    color: white;
  }

  .project, .achive {
    border-top : solid green;
    padding: 2%;
    margin-top: 2%;
  }

  .project a, .achive a {
    display: inline;
    padding: 2%;
    margin: 2%;
    background-color: yellowgreen;
  }

  .project a:hover , .achive a:hover {
    background-color: green;
  }